@import "./modal-gift.css";

@media screen and (max-width: 767px) {
    .backdrop{
        padding-left: 12px;
        padding-right: 12px;
    }
    .modal-gift{
        width: 350px;
    }
    .gift-btn-clouse{
        padding: 3px 8px 3px 8px;
        font-size: 14px;
    }
    .txt-count-gifts{
        font-size: 18px;
    }
    .swiper{
        margin-top: 15px;
    }
    .swiper-slide.gift-slide{
        border-radius: 15px;
        width: 320px;
    }
    .gift-image{
      width: 320px;
    }
}