h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
ul {
  margin: 0;
  padding: 0;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
  line-height: 0;
}
button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}