@import "./personal-normalize.css";
@import "./modal-register.css";

body{
    background-color: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 120px;
    padding-right: 120px;
}

h1{
    text-align: center;
    margin-top: 25px;
    color: rgb(145, 82, 0);
}

@media screen and (max-width: 767px) {
    h1{
        font-size: 18px;
    }  
    body{
        padding-left: 12px;
        padding-right: 12px;
        background-color: aquamarine;
    }
}
