@import "./personal-normalize.css";
@import "./modal-register.css";

body{
    background-color: blanchedalmond;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    margin-top: 25px;
    color: rgb(145, 82, 0);
}

@media screen and (max-width: 720px) {
    h1{
        font-size: 18px;
    }  
}
